@{
    ViewData["Title"] = "Product List Page";
}
<script>
        function sendRequest(id) {
                    var httpRequest = new XMLHttpRequest();
                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            if(httpRequest.responseText == "ok") {
                                //document.getElementById("wish-"+id).innerHTML = "♥";
                            }
                        }
                    };
                    // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
                    httpRequest.open("GET", "/product/wish/" + id, true);
                    httpRequest.send();
                }
</script>


                    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter" id="MixItUp0645D9">
                @foreach (var product in Model)
                {
                    <form action="/order/add/" method="post">
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                    <div class="featured__item__pic set-bg" data-setbg="@product.URI" style="width:100px; height:200px; background-image: url(&quot;/@product.URI&quot;)  ;">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart" onclick="sendRequest(@product.Id)"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="buy/@product.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                    </div>                  
                                <div class="featured__item__text">
                                    <h6><a href="read/@product.Id">@product.Name</a></h6>
@*                                    판매자에게만 수정 삭제 보이고 구매하기 버튼이 안보이게 하기*@
@*                                        <a href="/product/edit/@product.Id" class="primary-btn">수정하기</a>
                                        <a href="/product/delete/@product.Id" class="primary-btn">삭제하기</a>*@
                                        @*<a href="/product/buy/@product.Id" class="primary-btn">구매하기</a>*@
                                        <input type="hidden" name="id" value="@product.Id">
                                        <input type="text" name="count"  value="1">
                                        <input type="submit" value="구매하기">
                                    <h5>@product.Price</h5>                            
                                </div>
                            </div>
                        </div>
                </form>
                }
            </div>
        </div>
    </section>

