@{
    ViewData["Title"] = "Product Page";
}
@foreach(var product in Model )
{
    <div class="featured__item__pic set-bg" data-setbg="@product.URI" style="width:100px; height:200px; background-image: url(&quot;/@product.URI&quot;);"></div>
    <div>
        <h5>상품명 : @product.Name</h5>
        <h6>상품가격 : @product.Price</h6>
        <h6>상품 판매 갯수 : @product.buyListModels.Count</h6>
    </div>
    <div> 구매자 정보
    @foreach(var user in product.buyListModels)
    {
        <div>@user.NewIdentityUser.UserName</div>
    }
    </div>

    <div>  좋아요 누른 사람 정보
@*        @foreach(var user in product.buyListModels)
    {
        <div>@user.UserName</div>
    }*@
    </div>
}



 