@using BaseProject.Data.Enums;
@model Product_Model
<form asp-controller="Product" asp-action="Update" enctype="multipart/form-data" method="post">
    <input type="hidden" name="Id"  value="@Model.Id" />
    <div>상품명 : @Model.Name</div>
    <div>가격 : @Model.Price</div>
    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Defult_StatusCategory>()" onselect="@Model.Status"> </select>
    <p></p>
    <div> 사용되는 자재 목록 </div>
    @foreach(Product_Use_Metrail_Model Metrail in Model.ProductUseMetrailModels)
    {
        <div> 자재이름 : @Metrail.Metrail.Name </div>
        <div> 소모량 : @Metrail.Quantity </div>        
    }
    <input type="submit" value="전송" />
    <input type="file" name="ImgFile" />
    <div>파일 수정 :<img src="@Model.ImgUrl"/></div>
</form> 