@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach(Product_Model product_model in Model)
{
        <a href="/Product/detail?id=@product_model.Id">@product_model.Id</a>
    <div>@product_model.Name</div>
    <div>@product_model.Price"</div>
    <div>@product_model.Status</div>
    if(product_model.Status == "True")
    {
        <a href="/Product/delete?id=@product_model.Id">상품비활성화</a>
    }
    else if(product_model.Status == "False")
    {
        <a href="/Product/delete?id=@product_model.Id">상품활성화</a>
    }
    <div>@product_model.Status</div>
    @foreach(var UseMetrailModels in product_model.ProductUseMetrailModels)
    {
        <div>@UseMetrailModels.Metrail.Name</div>
        <div>@UseMetrailModels.Quantity</div>
    }
    
}
<a href="/Product/create">상품등록</a>
