@if (User.IsInRole("ProductManager"))
{
    <a href="/Product/create">상품등록</a>
}
<a href="/Product/storedList">출고내역</a>

<a href="/Product/productionList">상품제조현황</a>

@foreach(Product_Model product_model in Model)
{

    <div>상품명 : @product_model.Name</div>
    <div>가격 : @product_model.Price</div>
    <div>상태 : @product_model.Status</div>
    <div>재고량 : @product_model.Quantity</div>
    <a href="/Product/detail?id=@product_model.Id">@product_model.Name 수정</a>    
    <div><img src="@product_model.ImgUrl"/></div>
    <p></p>
   
}

