@if (User.IsInRole("OrderManager"))
{
    <a href="/order/create">주문등록</a>
}

@foreach(Order_Model order in Model)
{
    
    <div>주문자 : @order.Customer</div>
    <div>진행상황 : @order.Status</div>
    <div>주문등록 시간 : @order.RegisterDate</div>
    <div>주문마감 시간 : @order.Deadline</div>    
    <a href="/order/detail?id=@order.Id">@order.Customer 주문수정</a>
    <p></p>
}
