@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach(Material_Model material_Model in Model)
{
   <form asp-controller="materal" asp-action="UpdateMateral" method="post">
        <input type="hidden" name="Id"  value="@material_Model.Id" />
        Name <input name="Name" value="@material_Model.Name" /> 
        Quantity <input name="Quantity" value="@material_Model.Quantity"/> 
        Price <input name="Price" value="@material_Model.Price"/> 
        Status <div> @material_Model.Status</div>
            @if(material_Model.Status == "True")
            {
                <a href="/material/delete?id=@material_Model.Id">상품비활성화</a>
            }
            else if(material_Model.Status == "False")
            {
                <a href="/material/delete?id=@material_Model.Id">상품활성화</a>
            }
        <img src="@material_Model.ImgUrl"/>
        <input type="submit" value="전송">
        <a href="/materal/delete?id=@material_Model.Id">재고비활성화</a>
    </form> 
}
<a href="/Materal/create">자재등록</a>
