@using BaseProject.Data.Enums;
@model List<Material_Model>
@if (User.IsInRole("MateralManager"))
{
    <a href="/materal/create">자재등록</a>
}
@foreach(Material_Model material_Model in Model)
{
    <form asp-controller="materal" asp-action="UpdateMateral" enctype="multipart/form-data" method="post">
     <p></p>
        <input type="hidden" name="Id"  value="@material_Model.Id" />
        <div>자재이름 :<input name="Name" value="@material_Model.Name" /> </div>
        <div>갯수 : <input name="Quantity" value="@material_Model.Quantity"/> </div>
        <div>가격 : <input name="Price" value="@material_Model.Price"/> </div>
        <select asp-for="@material_Model.Status" class="form-control" asp-items="Html.GetEnumSelectList<Defult_StatusCategory>()"
        onselect="@material_Model.Status">
    </select>
        <div>사진 수정 <input type="file" name="ImgFile" /></div>
        <div><img src="@material_Model.ImgUrl"/>  </div>
        <input type="submit" value="@material_Model.Name 수정">
</form>         
}

